html {
  min-height: 100vh;
  /* sticky footer */
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  /* sticky footer */
  display: -webkit-box;
  display: flex;
  /* sticky footer */
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  /* sticky footer */
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.6875;
  color: #171715;
  text-rendering: optimizeSpeed;
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body > * {
  flex-shrink: 0;
  /* sticky footer */
}

section {
  position: relative;
}

/* Grid styles */
.container {
  max-width: 1200px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.container--fluid {
  max-width: unset;
}
.container--no-padding {
  padding: 0;
}

#overlay.active {
  display: block;
}

#overlay {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  background: rgba(37, 73, 116, 0.8);
}

/* Utility */
.none {
  display: none !important;
}

.visually-hidden {
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:visited {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus,
a:active {
  outline: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  display: inline;
  font-size: inherit;
  font-weight: inherit;
}

ul {
  list-style: none;
}

img, svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  color: #4C4B4A;
}

h1 {
  font-weight: 700;
  font-size: 58px;
  line-height: 1;
}

h2 {
  display: block;
  font-weight: 700;
  font-size: 40px;
  line-height: 56px;
  text-transform: uppercase;
}

h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

h4 {
  display: block;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.4;
  color: #4C4B4A;
}

.nav {
  padding-top: 30px;
  padding-bottom: 50px;
  z-index: 5;
  background: rgba(255, 255, 255, 0.7);
}
.nav .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.nav .logo {
  width: 75px;
}
.nav__list {
  display: -webkit-box;
  display: flex;
  gap: 40px;
}
.nav__item {
  font-weight: 500;
  line-height: 20px;
}
.nav__item--active {
  font-weight: 700;
  border-bottom: 2px solid #F9C500;
}
.nav__item:hover {
  font-weight: 600;
  border-bottom: 2px solid rgba(249, 195, 0, 0.5);
}
.nav__menu {
  display: none;
}
.nav__mobile {
  display: none;
}

.connection {
  padding-bottom: 4px;
  text-align: right;
}
.connection p {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #4C4B4A;
}
.connection a {
  border-bottom: 2px solid #FFD124;
}

.connect {
  display: -webkit-box;
  display: flex;
  gap: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}

@media (max-width: 899px) {
  .nav {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .nav .container {
    width: 100%;
    -webkit-box-pack: start;
            justify-content: start;
  }
  .nav .connection {
    margin-left: auto;
    margin-right: 70px;
  }
  .nav__list {
    display: none;
  }
  .nav__menu {
    display: block;
  }
  .nav__mobile {
    padding: 30px 15px 40px;
    margin-left: auto;
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    z-index: 100;
  }
  .nav__mobile--active {
    width: 320px;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: justify;
            justify-content: space-between;
    right: 0;
    opacity: 1;
    transition: right .3s linear, opacity .2s ease-in;
    background-color: #ffffff;
  }
  .nav__mobile--active .nav__item {
    display: block;
  }
  .nav__mobile--active .nav__item:not(:first-child) {
    margin-top: 30px;
  }
  .nav__mobile--active .nav__item--active {
    display: inline-block;
  }
  .nav__cross {
    display: none;
    position: absolute;
    top: 24px;
    right: 48px;
    width: 24px;
    height: 24px;
  }
  .nav__cross--active {
    display: block;
  }

  .connect a {
    font-size: 16px;
  }
}
#overlayMobile {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 11;
  background: rgba(37, 73, 116, 0.8);
}

#overlayMobile.overlay-mobile--active {
  display: block;
}

@media (max-width: 700px) {
  .nav .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .nav .connection {
    display: none;
  }
}
.header {
  padding-top: 74px;
  padding-bottom: 80px;
  position: relative;
  z-index: 5;
  background-color: #fff;
}
.header img {
  margin-left: auto;
  margin-bottom: -666px;
}
.header .container h1 {
  display: block;
  margin-bottom: 30px;
}
.header .container h2 {
  width: 570px;
  margin-bottom: 90px;
}
.header .container p {
  display: block;
}
.header__text {
  margin-bottom: 30px;
  padding-left: 10px;
  font-size: 18px;
  border-left: 2px solid #1717154f;
}

.btn-yellow {
  margin-top: 40px;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: 600;
  color: #382b22;
  text-transform: uppercase;
  padding: 1.25em 2em;
  background: #FFD124;
  border: 2px solid #b18597;
  border-radius: 0.75em;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.btn-yellow::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #FFD124;
  border-radius: inherit;
  box-shadow: 0 0 0 2px #b18597;
  -webkit-transform: translate3d(0, 0.75em, -1em);
          transform: translate3d(0, 0.75em, -1em);
  transition: box-shadow 0.15s, -webkit-transform 0.15s;
  transition: transform 0.15s, box-shadow 0.15s;
  transition: transform 0.15s, box-shadow 0.15s, -webkit-transform 0.15s;
}

.btn-yellow:hover {
  background: #FFD124;
  -webkit-transform: translate(0, 0.25em);
          transform: translate(0, 0.25em);
}

.btn-yellow:hover::before {
  box-shadow: 0 0 0 2px #FFD124;
  -webkit-transform: translate3d(0, 0.5em, -1em);
          transform: translate3d(0, 0.5em, -1em);
}

.btn-yellow:active {
  background: #FFD124;
  -webkit-transform: translate(0em, 0.75em);
          transform: translate(0em, 0.75em);
}

.btn-yellow:active::before {
  box-shadow: 0 0 0 2px #FFD124;
  -webkit-transform: translate3d(0, 0, -1em);
          transform: translate3d(0, 0, -1em);
}

@media (max-width: 899px) {
  .header {
    padding-top: 60px;
    overflow: hidden;
  }
  .header img {
    position: absolute;
    top: -29px;
    right: -100px;
  }
  .header .container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
  .header .container h1 {
    font-size: 34px;
  }
  .header .container h2 {
    width: 290px;
    margin-bottom: 104px;
    font-size: 16px;
    line-height: 1.4;
  }
  .header .container p {
    width: 250px;
    font-size: 12px;
    line-height: 1.4;
  }
  .header .container b {
    font-size: 14px;
  }
  .header .container .btn-yellow {
    margin-top: 0;
  }
}
@media (max-width: 700px) {
  .header {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .header .container h1 {
    width: 270px;
    margin-bottom: 75px;
    font-size: 30px;
    line-height: 1.6;
  }
  .header .container h2 {
    margin-left: 20px;
    margin-bottom: 35px;
  }
  .header .container .btn-yellow {
    width: 280px;
    margin-left: 25px;
  }
  .header img {
    width: 360px;
    top: 94px;
    right: -38px;
  }
  .header__text {
    display: none;
  }
}
.about-us {
  padding-top: 112px;
  padding-bottom: 115px;
  background: linear-gradient(302.61deg, #41413D 22.56%, rgba(65, 65, 61, 0) 37.96%), linear-gradient(0deg, rgba(65, 65, 61, 0.8), rgba(65, 65, 61, 0.8)), url(./../../img/about-us/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.about-us h2 {
  color: #FFD124;
}
.about-us__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  gap: 40px;
}
.about-us h3 {
  color: #FFD124;
}
.about-us__left h3 {
  display: block;
  width: 270px;
  margin-top: auto;
  margin-left: auto;
  text-align: right;
}
.about-us__left p {
  display: block;
  width: 480px;
  margin-right: 79px;
}
.about-us__left-text {
  margin-top: 20px;
  margin-bottom: 255px;
}
.about-us p {
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
}
.about-us__right {
  padding-top: 18px;
}
.about-us__right-content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 41px;
          column-gap: 41px;
  row-gap: 48px;
  margin-top: 56px;
  margin-bottom: 170px;
}
.about-us__right-content p {
  display: block;
  align-self: start;
  padding-left: 10px;
  width: 265px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}
.about-us__right-bottom {
  padding-left: 10px;
  display: -webkit-box;
  display: flex;
  position: relative;
  text-align: right;
}
.about-us__right-bottom h3 {
  width: 260px;
}
.about-us__right-bottom .about-us__discount {
  width: 173px;
  height: 150px;
  position: absolute;
  top: -60px;
  left: -80px;
}
.about-us__right-bottom-block {
  margin-left: 40px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}
.about-us__right-bottom-block b {
  color: #FFD124;
}
.about-us__right-bottom-block p {
  display: block;
  padding-top: 10px;
  width: 227px;
}
.about-us__right-bottom-block p.text-mobile {
  display: none;
}
.about-us__right-bottom-block .connection {
  margin-top: 10px;
  border-bottom: none;
}
.about-us__right-bottom-block .connection p {
  color: #FFFFFF;
}
.about-us__right-bottom-block .connect img {
  margin-left: auto;
}
.about-us__right-bottom-block .connect a {
  color: #FFFFFF;
}
.about-us__right-bottom-block:last-child {
  text-align: right;
}

.scroll-up {
  z-index: 1;
  position: fixed;
  bottom: 170px;
  right: 90px;
  border-radius: 50%;
}
@media (max-width: 700px) {
  .scroll-up {
    display: none;
  }
}

.scroll-up:hover {
  background-color: #FFD124;
}

@media (max-width: 899px) {
  .container {
    width: 700px;
  }

  .about-us {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .about-us__row {
    display: block;
  }
  .about-us__row h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .about-us__row p {
    font-size: 12px;
    line-height: 1.4;
  }
  .about-us__left-text {
    margin-bottom: 77px;
  }
  .about-us h3 {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    display: block;
  }
  .about-us__right {
    padding-top: 0;
  }
  .about-us__right-content {
    margin-top: 0;
    margin-bottom: 70px;
  }
  .about-us__right-bottom .about-us__discount {
    width: 100px;
    height: 100px;
    top: -5px;
    left: 190px;
  }
  .about-us__right-bottom-block b {
    font-size: 14px;
  }
  .about-us__right-bottom-block p.text-mobile {
    display: block;
  }
  .about-us__right-bottom-block .connection {
    display: none;
  }
}
@media (max-width: 700px) {
  .about-us {
    padding-top: 44px;
    padding-bottom: 70px;
  }
  .about-us__row {
    display: block;
  }
  .about-us__left {
    position: relative;
    width: 330px;
    text-align: center;
  }
  .about-us__left p {
    width: 328px;
    line-height: 1.6;
  }
  .about-us__left p:last-child {
    width: 150px;
    position: absolute;
    top: 140px;
    right: -55px;
    font-size: 14px;
    text-align: left;
    color: #FFD124;
  }
  .about-us__right {
    position: relative;
    padding-top: 90px;
  }
  .about-us__right h3 {
    width: 150px;
    position: absolute;
    top: -32px;
    left: 0;
    line-height: 1.6;
  }
  .about-us__right-content {
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .about-us__right-content p {
    padding-left: 0;
    padding-top: 10px;
    width: 133px;
    border-left: 0;
    border-top: 2px solid #F9C500;
    font-size: 12px;
    line-height: 1.6;
  }
  .about-us__right-bottom {
    text-align: left;
  }
  .about-us__right-bottom-block:last-child p, .about-us__right-bottom-block:last-child b {
    display: none;
  }
  .about-us__right-bottom .connection {
    margin-left: 30px;
    margin-top: -30px;
    display: block;
  }
  .about-us__right-bottom .connection a {
    font-size: 14px;
    line-height: 1.6;
  }
  .about-us__right-bottom .connection p {
    display: block;
    font-size: 10px;
  }
  .about-us .about-us__discount {
    top: -65px;
    left: 50px;
  }
}
.types {
  padding-top: 112px;
  padding-bottom: 94px;
}
.types__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.types__left h2 {
  width: 480px;
  margin-bottom: 18px;
}
.types__left p {
  display: inline-block;
  width: 480px;
  margin-bottom: 80px;
  font-size: 14px;
}
.types .btn-yellow {
  display: block;
}
.types__right {
  display: -webkit-box;
  display: flex;
}
.types__right-columns {
  position: relative;
  height: 145px;
  padding-left: 25px;
  padding-top: 15px;
}
.types__right-columns b {
  font-size: 14px;
}
.types__right-columns .types__right-blocks::before {
  content: " ";
  width: 1px;
  position: absolute;
  top: -17px;
  right: 90px;
  bottom: -18px;
  background-color: rgba(23, 23, 21, 0.3);
}
.types__right-columns .types__right-blocks::after {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 11px;
  right: 87px;
  content: " ";
  background-color: #FFD124;
  border-radius: 50%;
}
.types__right-columns:first-child {
  height: 320px;
}
.types__right-columns:first-child .types__right-blocks::before {
  content: " ";
  width: 1px;
  position: absolute;
  top: -17px;
  right: 343px;
  bottom: -18px;
  background-color: rgba(23, 23, 21, 0.3);
}
.types__right-columns:first-child .types__right-blocks::after {
  position: absolute;
  width: 7px;
  height: 7px;
  top: 11px;
  right: 341px;
  content: " ";
  background-color: #FFD124;
  border-radius: 50%;
}
.types__right-blocks {
  position: relative;
  margin-bottom: 16px;
}
.types__right-blocks:last-child {
  margin-bottom: 0;
}

@media (max-width: 899px) {
  .types {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .types h2 {
    width: 300px;
    font-size: 20px;
    line-height: 24px;
  }
  .types p {
    font-size: 12px;
    line-height: 1.4;
  }
  .types b {
    font-size: 14px;
    line-height: 1.6;
  }
  .types__row {
    -webkit-box-pack: justify;
            justify-content: space-between;
  }
  .types__left p {
    margin-bottom: 70px;
    display: block;
    width: 250px;
  }
  .types__left b {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.4;
  }
  .types__left .btn-yellow {
    margin-top: 0;
  }
  .types__right {
    display: block;
  }
  .types__right-columns {
    height: auto;
  }
  .types__right-columns .types__right-blocks::before {
    left: -26px;
    bottom: -18px;
  }
  .types__right-columns .types__right-blocks::after {
    top: 11px;
    left: -29px;
  }
  .types__right-columns:first-child {
    height: auto;
  }
  .types__right-columns:first-child .types__right-blocks::before {
    left: -26px;
    bottom: -18px;
  }
  .types__right-columns:first-child .types__right-blocks::after {
    top: 11px;
    left: -29px;
  }
}
@media (max-width: 700px) {
  .types {
    padding-top: 60px;
    padding-bottom: 79px;
  }
  .types__row {
    display: block;
  }
  .types__left {
    margin-bottom: 60px;
    text-align: center;
  }
  .types__left p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
  }
  .types__left .btn-yellow {
    width: 280px;
  }
  .types__right {
    position: relative;
    display: -webkit-box;
    display: flex;
  }
  .types__right b {
    display: block;
    width: 280px;
  }
  .types__right-columns:last-child {
    width: 100px;
    position: absolute;
    top: 0;
    left: 210px;
  }
  .types__right-columns:last-child b {
    width: 70px;
  }
}
.dignities {
  padding-top: 112px;
  padding-bottom: 112px;
}
.dignities img {
  position: absolute;
  top: 23px;
  right: 20px;
}
.dignities p {
  display: block;
  width: 588px;
  margin-bottom: 105px;
  font-size: 14px;
}
.dignities__content {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  row-gap: 42px;
}
.dignities__text {
  width: 570px;
  height: 35px;
  -webkit-box-align: center;
          align-items: center;
  border-bottom: 1px solid #FFD124;
}

@media (max-width: 700px) {
  .dignities {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .dignities h3 {
    margin-bottom: 20px;
    display: block;
    width: 310px;
    text-transform: uppercase;
  }
  .dignities p {
    margin-bottom: 50px;
    width: 341px;
    font-size: 12px;
    line-height: 1.4;
  }
  .dignities__content {
    row-gap: 30px;
  }
  .dignities__content p {
    width: auto;
    font-size: 14px;
    line-height: 1.6;
  }
}
@media (max-width: 360px) {
  .dignities {
    text-align: center;
  }
  .dignities img {
    display: none;
  }
  .dignities p {
    width: 280px;
  }
  .dignities p:not(:first-child) {
    font-weight: 700;
  }
  .dignities__content {
    row-gap: 20px;
  }
  .dignities__text {
    min-height: 45px;
  }
}
.process-work {
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: #4C4B4A;
}
.process-work h2 {
  margin-bottom: 18px;
  color: #FFD124;
}
.process-work p {
  font-size: 14px;
  color: #fff;
}
.process-work__content {
  margin-top: 159px;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 174px;
}
.process-work__blocks {
  padding-left: 10px;
  width: 380px;
  border-left: 2px solid #FFFFFF;
}
.process-work__blocks h2 {
  position: absolute;
  top: -120px;
  right: -10px;
  z-index: 0;
  font-size: 160px;
  line-height: 140%;
  text-transform: uppercase;
  color: rgba(121, 121, 121, 0.1);
}
.process-work__blocks b {
  display: block;
  position: relative;
  z-index: 1;
  color: #FFD124;
}
.process-work__blocks p {
  position: relative;
  z-index: 1;
}

@media (max-width: 899px) {
  .process-work {
    padding-top: 60px;
    padding-bottom: 45px;
  }
  .process-work h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .process-work p {
    font-size: 12px;
    line-height: 1.4;
  }
  .process-work__text {
    display: block;
    width: 380px;
  }
  .process-work__content {
    margin-top: 60px;
  }
  .process-work__blocks {
    width: 323px;
  }
  .process-work__blocks h2 {
    top: -100px;
    font-size: 130px;
    line-height: 1.4;
  }
  .process-work__blocks b {
    font-size: 14px;
  }
  .process-work__blocks a {
    border-bottom: 2px solid #FFD124;
  }
}
@media (max-width: 700px) {
  .process-work__text {
    width: 280px;
  }
  .process-work__content {
    row-gap: 60px;
  }
}
.contact {
  padding-top: 112px;
  padding-bottom: 112px;
}
.contact__row {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.contact__connect {
  margin-top: 60px;
}
.contact .connect {
  -webkit-column-gap: 10px;
          column-gap: 10px;
}
.contact .connect:not(:first-child) {
  margin-top: 22px;
}
.contact__right {
  width: 395px;
  padding: 26px 24px 55px;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background-color: #ffff;
}
.contact__right h3 {
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.contact__right--hidden {
  position: fixed;
  padding-top: 40px;
  margin: auto;
  z-index: 12;
  top: -100%;
  left: calc( 50% - 196px);
  transition: 0.7s all;
}
.contact__right--active {
  top: 100px;
  left: calc( 50% - 196px);
  z-index: 12;
  transition: 0.7s all;
}
.contact__content {
  margin-top: 80px;
}
.contact__content p {
  font-weight: 500;
  font-size: 14px;
}
.contact__content .contact__bottom {
  margin-top: 60px;
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 115px;
          column-gap: 115px;
}
.contact__content .contact__bottom .connection {
  text-align: left;
}
.contact__content .contact__bottom .connection .connect {
  margin-top: 10px;
}
.contact__tel {
  margin-top: 40px;
  margin-bottom: 9px;
}

a.tel {
  border-bottom: 2px solid #FFD124;
}

@media (max-width: 899px) {
  .contact {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .contact h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .contact p {
    font-size: 12px;
    line-height: 1.4;
  }
  .contact a {
    font-size: 16px;
    line-height: 1.4;
  }
  .contact__connect {
    margin-top: 40px;
  }
}
@media (max-width: 700px) {
  .contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .contact__row {
    display: block;
  }
  .contact__left {
    text-align: center;
  }
  .contact__connect {
    margin-bottom: 60px;
  }
  .contact__connect .connect {
    -webkit-box-pack: center;
            justify-content: center;
  }
}
.footer {
  padding-top: 90px;
  padding-bottom: 60px;
  background: #4B4840;
}
.footer .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.footer .container p {
  font-size: 12px;
  color: #FFFFFF;
}
.footer .footer__blocks--1 .logo {
  margin-bottom: 20px;
}
.footer .footer__blocks--1 p {
  color: #77746C;
}
.footer__blocks--2 .time {
  display: block;
  margin-bottom: 65px;
  font-size: 14px;
  opacity: 0.4;
}
.footer__blocks--2 p:last-child {
  color: #77746C;
}
.footer__blocks--3 li {
  font-size: 12px;
  color: #FFFFFF;
}
.footer__blocks--3 li:not(:first-child) {
  margin-top: 8px;
}
.footer__blocks--4 .white {
  display: block;
  margin-bottom: 23px;
}
.footer__blocks--4 .connect {
  -webkit-box-align: center;
          align-items: center;
}
.footer__blocks--4 .connect img {
  width: 9px;
  height: 9px;
}
.footer__blocks--4 .connect a {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.6;
  color: #FFFFFF;
}
.footer__blocks--4 .soc {
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 4px;
          column-gap: 4px;
}
.footer .white {
  display: block;
  font-weight: 700;
  font-size: 14px;
}

@media (max-width: 899px) {
  .footer {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .footer .footer__blocks--1 .logo {
    width: 50px;
    height: 50px;
    margin-bottom: 45px;
  }
  .footer__copyright {
    font-size: 8px;
  }
  .footer .white {
    width: 180px;
    margin-bottom: 14px;
  }
  .footer .time {
    margin-bottom: 20px;
  }
  .footer__blocks--2 p:not(:first-child) {
    font-size: 10px;
  }
  .footer__blocks--3 li {
    font-size: 14px;
  }
  .footer__blocks--4 {
    display: none;
  }
}
@media (max-width: 700px) {
  .footer .container {
    flex-wrap: wrap;
  }
  .footer .footer__blocks--1 {
    -webkit-box-ordinal-group: 4;
            order: 3;
  }
  .footer .footer__blocks--1 .logo {
    margin-bottom: 8px;
  }
  .footer .footer__blocks--2 {
    margin-top: 33px;
    -webkit-box-ordinal-group: 5;
            order: 4;
    width: 125px;
  }
  .footer .footer__blocks--2 p:last-child {
    display: none;
  }
  .footer .footer__blocks--2 .white {
    margin-bottom: 10px;
    width: 117px;
  }
  .footer .footer__blocks--2 .time {
    margin-bottom: 10px;
  }
  .footer__blocks--3 {
    width: 125px;
    -webkit-box-ordinal-group: 3;
            order: 2;
  }
  .footer__blocks--4 {
    margin-bottom: 30px;
    width: 125px;
    display: block;
    -webkit-box-ordinal-group: 2;
            order: 1;
  }
}
.our-works {
  padding-top: 86px;
  padding-bottom: 112px;
  position: relative;
}
.our-works h1 {
  text-transform: uppercase;
}
.our-works__row {
  margin-top: 20px;
  margin-bottom: 105px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.our-works__row p {
  display: block;
  width: 282px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #171715;
}
.our-works .bel-svai {
  z-index: -1;
  position: absolute;
  top: 100px;
  right: 0;
}
.our-works__card-list {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-column-gap: 25px;
          column-gap: 25px;
  row-gap: 80px;
}
.our-works__card {
  width: 570px;
  min-height: 420px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.our-works__card-text {
  margin: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.our-works__card-text p {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.4;
}
.our-works__card-text .data {
  display: block;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  opacity: 0.3;
}

@media (max-width: 899px) {
  .our-works {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .our-works h1 {
    font-size: 24px;
  }
  .our-works__row {
    margin-top: 0;
  }
  .our-works .bel-svai {
    width: 420px;
    top: 160px;
  }
  .our-works__card {
    width: 330px;
    min-height: 275px;
  }
  .our-works__card-text .data {
    width: 67px;
  }
  .our-works__card-list {
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
}
@media (max-width: 700px) {
  .our-works {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .our-works h1 {
    margin-bottom: 20px;
    display: block;
  }
  .our-works__row {
    margin-bottom: 36px;
  }
  .our-works__row .btn-yellow {
    display: none;
  }
  .our-works .bel-svai {
    display: none;
  }
  .our-works__card-text .data {
    width: 68px;
  }
  .our-works__card-list {
    row-gap: 40px;
  }
}
.more-work {
  padding-top: 112px;
  padding-bottom: 123px;
  background: linear-gradient(0deg, rgba(76, 75, 74, 0.9), rgba(76, 75, 74, 0.9)), url(../../img/more-work/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.more-work h2 {
  color: #FFD124;
}
.more-work__row {
  margin-top: 20px;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
}
.more-work__row p {
  color: #FFFFFF;
}

@media (max-width: 899px) {
  .more-work {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .more-work h2 {
    font-size: 20px;
    line-height: 24px;
  }
  .more-work__row {
    margin-top: 0;
  }
  .more-work__row p {
    width: 340px;
  }
}
@media (max-width: 700px) {
  .container {
    width: 330px;
  }

  .more-work {
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
  }
  .more-work__row {
    display: block;
  }
  .more-work__row p {
    margin-top: 20px;
    display: block;
    width: 310px;
  }
  .more-work__row .btn-yellow {
    width: 280px;
  }
}
.start {
  padding-top: 80px;
  padding-bottom: 112px;
  z-index: 2;
  background-color: #fff;
}
.start__up-blocks {
  margin-bottom: 112px;
  display: -webkit-box;
  display: flex;
}
.start__up-blocks h1 {
  text-transform: uppercase;
}
.start__photo {
  height: 130px;
  display: -webkit-box;
  display: flex;
  margin-left: -310px;
}
.start__work {
  width: 565px;
  margin-left: 26px;
}
.start__work p {
  margin-top: 30px;
  width: 400px;
  display: block;
  font-weight: 500;
  font-size: 14px;
}
.start__down-blocks {
  display: -webkit-box;
  display: flex;
  -webkit-column-gap: 25px;
          column-gap: 25px;
}
.start__down-block {
  width: 390px;
}
.start__down-block h2 {
  margin-left: 10px;
  color: #FFD124;
}
.start__down-block p {
  padding-top: 5px;
  padding-left: 10px;
  margin-top: 10px;
  min-height: 88px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  border-left: 2px solid #FFD124;
}

@media (max-width: 899px) {
  .start {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .start__photo {
    margin-left: -370px;
  }
  .start__work {
    margin-left: 270px;
  }
  .start__work h1 {
    font-size: 34px;
  }
  .start__work p {
    font-size: 12px;
    line-height: 1.4;
  }
  .start__down-blocks h2 {
    font-size: 40px;
  }
  .start__down-blocks p {
    font-size: 12px;
    line-height: 1.4;
  }
}
@media (max-width: 700px) {
  .start {
    padding-top: 4px;
    padding-bottom: 30px;
    overflow: hidden;
  }
  .start__work {
    margin-top: 10px;
    margin-left: 0;
    width: 300px;
  }
  .start__work h1 {
    width: 250px;
    display: block;
    font-size: 20px;
    line-height: 24px;
  }
  .start__work p {
    margin-top: 20px;
    width: 320px;
    font-size: 14px;
    line-height: 1.6;
  }
  .start__up-blocks {
    margin-bottom: 70px;
    display: block;
  }
  .start__photo {
    margin-left: -55px;
  }
  .start__photo img {
    height: 90px;
  }
  .start__down-blocks {
    display: block;
  }
  .start__down-block {
    width: 280px;
  }
  .start__down-block h2 {
    margin-left: 245px;
    margin-bottom: -20px;
  }
  .start__down-block p {
    font-size: 14px;
  }
  .start__down-block:not(:first-child) {
    margin-top: 10px;
  }
}
.questions {
  padding-top: 112px;
  padding-bottom: 50px;
  background: linear-gradient(277.65deg, #41413D 26.55%, rgba(65, 65, 61, 0) 64.74%), linear-gradient(0deg, rgba(65, 65, 61, 0.85), rgba(65, 65, 61, 0.85)), url(../../img/questions/fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.questions .container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}
.questions__left-block-up h2 {
  text-transform: uppercase;
  color: #FFD124;
}
.questions__left-block-up p {
  width: 480px;
  margin-top: 20px;
  margin-bottom: 110px;
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.6;
  color: #FFFFFF;
}
.questions__left-block-down {
  color: #FFFFFF;
}
.questions__left-block-down .connection {
  margin-top: 8px;
  text-align: left;
}
.questions__left-block-down .connection p {
  margin-top: 5px;
  margin-left: 22px;
  display: block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.4;
  color: rgba(255, 255, 255, 0.5);
}
.questions__left-block-down .connect a {
  color: #FFFFFF;
}
.questions__tabs {
  width: 600px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: flex;
  border-bottom: 1px solid #FFD124;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: #FFFFFF;
}
.questions__tabs .questions__first-text {
  width: 510px;
  display: block;
}
.questions__tabs p:first-child {
  width: 515px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
}
.questions__tabs button {
  margin-left: auto;
}
.questions__tabs button .plus {
  display: block;
}
.questions__tabs button .minus {
  display: none;
}
.questions__tabs button.active .plus {
  display: none;
}
.questions__tabs button.active .minus {
  display: block;
}
.questions__tabs-block {
  width: 510px;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
}
.questions__tabs .active {
  display: block;
}
.questions__tabs:not(:first-child) {
  margin-top: 72px;
}

@media (max-width: 899px) {
  .questions h2 {
    font-size: 30px;
    line-height: 1.4;
  }
  .questions p {
    width: 390px;
    font-size: 12px;
    line-height: 1.6;
  }
  .questions__block .questions__tabs {
    padding-bottom: 10px;
    width: 300px;
  }
  .questions__block .questions__tabs p {
    width: 270px;
  }
  .questions__tabs button {
    margin-left: 0;
  }
}
@media (max-width: 700px) {
  .questions {
    padding-top: 60px;
    padding-bottom: 70px;
  }
  .questions h2 {
    width: 250px;
    font-size: 20px;
    line-height: 24px;
  }
  .questions p {
    width: 309px;
    margin-bottom: 60px;
    font-size: 14px;
  }
  .questions__left-block-down {
    display: none;
  }
  .questions .container {
    display: block;
  }
  .questions .questions__block .questions__tabs p {
    margin-bottom: 0;
  }
  .questions .questions__tabs:not(:first-child) {
    margin-top: 20px;
  }
}
.additional {
  padding-top: 112px;
  padding-bottom: 50px;
}
.additional .questions__block {
  margin-left: 570px;
}
.additional .questions__tabs {
  width: 600px;
  padding-bottom: 12px;
  display: -webkit-box;
  display: flex;
  border-bottom: 1px solid #FFD124;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
  color: #171715;
}
.additional .questions__tabs .questions__first-text {
  display: block;
}
.additional .questions__tabs p:first-child {
  width: 515px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.6;
}
.additional .questions__tabs button {
  margin-left: auto;
}
.additional .questions__tabs-block {
  width: 510px;
  display: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.4;
}
.additional .questions__tabs .active {
  display: block;
}
.additional .questions__tabs:not(:first-child) {
  margin-top: 72px;
}

@media (max-width: 899px) {
  .additional {
    padding-top: 60px;
    padding-bottom: 80px;
  }
  .additional .questions__block {
    margin-left: auto;
  }
  .additional .questions__block .questions__tabs p {
    width: auto;
  }
}
@media (max-width: 700px) {
  .additional {
    padding-top: 50px;
  }
  .additional .questions__block .questions__tabs {
    width: 300px;
  }
  .additional .questions__block .questions__tabs p {
    width: 270px;
  }
  .additional .questions__tabs:not(:first-child) {
    margin-top: 20px;
  }
}
.slider {
  margin-left: auto;
  margin-right: auto;
  height: 178px;
  width: 1440px;
  overflow: hidden;
}
.slider__photo {
  height: 178px;
  width: 2880px;
  display: -webkit-box;
  display: flex;
  position: relative;
  left: 0;
  transition: all ease 1s;
}
.slider__left {
  z-index: 1;
  position: absolute;
  top: 64px;
  left: 60px;
}
.slider__right {
  z-index: 1;
  position: absolute;
  top: 64px;
  right: 60px;
}

@media (max-width: 899px) {
  .slider {
    width: 100%;
  }
}
@media (max-width: 700px) {
  .slider__left {
    width: 40px;
    top: 64px;
    left: 20px;
  }
  .slider__right {
    width: 40px;
    top: 64px;
    right: 20px;
  }
}
.application-form {
  width: 395px;
  padding: 26px 24px 55px;
  -webkit-box-align: center;
          align-items: center;
  text-align: center;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  background-color: #ffff;
}
.application-form h3 {
  display: block;
  margin-bottom: 18px;
  text-transform: uppercase;
}
.application-form h4 {
  display: block;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.4;
}
.application-form--hidden {
  position: fixed;
  padding-top: 40px;
  margin: auto;
  z-index: 12;
  top: -100%;
  left: calc( 50% - 196px);
  transition: 0.7s all;
}
.application-form--active {
  top: 100px;
  left: calc( 50% - 196px);
  z-index: 12;
  transition: 0.7s all;
}
.application-form__application p:not(.checkbox__text p) {
  display: block;
  margin-bottom: 17px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  text-align: center;
  color: #171715;
}
.application-form__application .input__name {
  width: 344px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 22px 25px;
  opacity: 0.3;
  border: 1px solid #151515;
  border-radius: 4px;
}
.application-form__application .input__name:focus {
  box-shadow: 0 0 15px #7a956b;
}
.application-form__application .input__name._error {
  box-shadow: 0 0 15px red;
}
.application-form__application input:not(.checkbox__real) {
  margin-top: 20px;
}
.application-form__application .btn-yellow {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 344px;
}
.application-form__application .checkbox {
  margin-top: 16px;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
}
.application-form__application .checkbox__text {
  width: 283px;
  margin-left: 12px;
  font-size: 10px;
  line-height: 1.2;
  opacity: 0.6;
}
.application-form__application .checkbox__text b {
  color: #FFD124;
}
.application-form .close {
  position: absolute;
  top: -15px;
  right: 15px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 45px;
}
.application-form__tel {
  margin-top: 40px;
  margin-bottom: 9px;
}

#applicationThanks {
  margin: 40px auto 60px;
}
#applicationThanks h3 {
  margin-top: 25px;
}

.d-none {
  display: none;
}

@media (max-width: 899px) {
  .application-form p {
    font-size: 12px;
    line-height: 1.4;
  }
  .application-form p:last-child {
    font-size: 10px;
  }
  .application-form__application .input__name {
    height: 48px;
  }
}
@media (max-width: 700px) {
  .application-form {
    padding: 10px;
    left: calc( 50% - 150px);
    width: 300px;
  }
  .application-form .btn-yellow {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 250px;
  }

  .application-form__application .input__name {
    width: 250px;
  }

  .application-form p:last-child {
    font-size: 9px;
  }
}

/*# sourceMappingURL=main.css.map */