.about-us{
    padding-top: 112px;
    padding-bottom: 115px;

    background: linear-gradient(302.61deg, #41413D 22.56%, rgba(65, 65, 61, 0) 37.96%), linear-gradient(0deg, rgba(65, 65, 61, 0.8), rgba(65, 65, 61, 0.8)), url(./../../img/about-us/fon.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    h2{
        color: #FFD124;
    }
    
    &__row{
        display: flex;
        justify-content: space-between;
        gap: 40px;
    }

    h3{
        color: #FFD124;
    }
    
    &__left{
        
        h3{
            display: block;
            width: 270px;
            margin-top: auto;
            margin-left: auto;
    
            text-align: right;
        }

        p{
            display: block;
            width: 480px;
            margin-right: 79px;
        }
    }
    
    &__left-text{
        margin-top: 20px;
        margin-bottom: 255px;
    }

    p{
        font-weight: 500;
        font-size: 14px;

        color: #FFFFFF;
    }

    &__right{
        padding-top: 18px;

        &-content{
            display: flex;
            flex-wrap: wrap;
            column-gap: 41px;
            row-gap: 48px;
            margin-top: 56px;
            margin-bottom: 170px;

            p{
                display: block;
                align-self: start;
                padding-left: 10px;
                width: 265px; 

                border-left: 2px solid rgba(255, 255, 255, 0.2);
            }
        }

        &-bottom{
            padding-left: 10px;

            display: flex;
            position: relative;

            text-align: right;
            h3{
                width: 260px;
            }

            .about-us__discount{
                width: 173px;
                height: 150px;

                position: absolute;
                top: -60px;
                left: -80px;
            }

            &-block{
                margin-left: 40px;
                
                border-left: 2px solid rgba(255, 255, 255, 0.2);

                b{
                    color: #FFD124;
                }

                p{
                    display: block;
                    padding-top: 10px;
                    width: 227px;
                }

                .connection{
                    margin-top: 10px;
                    border-bottom: none;

                    p{
                        color: #FFFFFF;
                    }
                }

                .connect{
                    img{
                        margin-left: auto;
                    }
                    a{
                        color: #FFFFFF;
                    }
                }
            }
            &-block:last-child{
                text-align: right;
            }
        }
    }

}

.scroll-up{
    z-index: 1;
    position: fixed;

    bottom: 170px;
    right: 120px;
    border-radius: 50%;
}

.scroll-up:hover{
    background-color: #FFD124;
}