.additional{
    padding-top: 112px;
    padding-bottom: 50px;

    .questions__block{
        margin-left: 570px;
    }

    .questions__tabs{
        width: 600px;
        padding-bottom: 12px;

        display: flex;
        border-bottom: 1px solid #FFD124;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.6;

        color: #171715;

        .questions__first-text{   
            display: block;
        }
        
        p:first-child{
            width: 515px;
            margin-bottom: 10px;
            
            font-weight: 700;
            font-size: 14px;
            line-height: 1.6;
        }



        button{
            margin-left: auto;
        }

        &-block{
            width: 510px;
            
            display: none;

            font-weight: 400;
            font-size: 12px;
            line-height: 1.4;

        }
        .active{
            display: block;
        }
    }

    .questions__tabs:not(:first-child){
        margin-top: 72px;
    }
}

@media(max-width: 899px){
    .additional{
        padding-top: 60px;
        padding-bottom: 80px;

        .questions__block{
            margin-left: auto;
        }

        .questions__block .questions__tabs p{
            width: auto;
        }
    }
}

@media(max-width: 360px){
    .additional{
        padding-top: 50px;
        .questions__block .questions__tabs{
            width: 300px;
            p{
                width: 270px;
            }
        } 
        .questions__tabs:not(:first-child) {
            margin-top: 20px;
        }
    }
}