.contact{
    padding-top: 112px;
    padding-bottom: 112px;

    &__row{
        display: flex;
        justify-content: space-between;

    }

    &__connect{
        margin-top: 60px;
    }

    .connect {
        column-gap: 10px;
    }

    .connect:not(:first-child){
        margin-top: 22px;
    }

    &__right{
        width: 395px;
        padding: 26px 24px 55px;

        text-align: center;

        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.06);
        border-radius: 8px;
        background-color: #ffff;

        h3{
            display: block;
            margin-bottom: 18px;

            text-transform: uppercase;
        }

        &--hidden{
            position: fixed;
            padding-top: 40px;
            margin: auto;

            z-index: 12;
            top: -100%;
            left: calc( 50% - 196px);
            transition: 0.7s all;
        }
        
        &--active{
            top: 100px;
            left: calc( 50% - 196px);
            
            z-index: 12;
            transition: 0.7s all;
        }
    }

    &__content{
        margin-top: 80px;

        p{
            font-weight: 500;
            font-size: 14px;
        }

        .contact__bottom{
            margin-top: 60px;

            display: flex;
            column-gap: 115px;

            .connection{
                text-align: left;

                .connect{
                    margin-top: 10px;
                }
            }
        } 

    }

    &__tel{
        margin-top: 40px;
        margin-bottom: 9px;
    }

}

a.tel{
    border-bottom: 2px solid #FFD124;
}

@media(max-width: 899px){
    .contact{
        padding-top: 60px;
        padding-bottom: 60px;

        h2{
            font-size: 20px;
            line-height: 24px;
        }

        p{
            font-size: 12px;
            line-height: 1.4;
        }

        a{
            font-size: 16px;
            line-height: 1.4;
        }

        &__connect{
            margin-top: 40px;
        }
    }
}

@media(max-width: 700px){
    .contact{
        padding-top: 40px;
        padding-bottom: 40px;

        &__row{
            display: block;
        }

        &__left{
            text-align: center;
        }

        &__connect{
            margin-bottom: 60px;
            .connect{
                justify-content: center;
                
            }
        }
    }
}