.footer{
    padding-top: 90px;
    padding-bottom: 60px;

    background: #4B4840;

    .container{
        display: flex;
        justify-content: space-between;

        p{
            font-size: 12px;

            color: #FFFFFF;
        }
    }


    .footer__blocks--1{
        .logo{
            margin-bottom: 20px;
        }
        
        p{
            color: #77746C;
        }
    }

    &__blocks--2{

        .time{
            display: block;
            margin-bottom: 65px;

            font-size: 14px;

            opacity: 0.4;
        }

        p:last-child{
            color: #77746C;
        }
    }

    &__blocks--3{
        li{
            font-size: 12px;
            color: #FFFFFF;
        }

        li:not(:first-child){
            margin-top: 8px;
        }
    }

    &__blocks--4{
        .white{
            display: block;
            margin-bottom: 23px;
        }

        .connect{
            align-items: center;

            img{
                width: 9px;
                height: 9px;
            }

            a{
                font-weight: 400;
                font-size: 12px;
                line-height: 1.6;

                color: #FFFFFF;
            }
        }

        .soc{
            margin-top: 20px;

            display: flex;
            column-gap: 4px;
        }
    }
    
    .white{ 
        display: block;
        font-weight: 700;
        font-size: 14px;
    }

}

@media(max-width: 899px){
    .footer{
        padding-top: 40px;
        padding-bottom: 40px;

        .footer__blocks--1{
            .logo{
                width: 50px;
                height: 50px;

                margin-bottom: 45px;
            }
        }

        &__copyright{
            font-size: 8px;
        }

        .white{
            width: 180px;
            margin-bottom: 14px;
        }

        .time{
            margin-bottom: 20px;
        }

        &__blocks--2{
            p:not(:first-child){
                font-size: 10px;
            }
        }

        &__blocks--3{
            li{
                font-size: 14px;
            }
        }

        &__blocks--4{
            display: none;
        }
    }
}

@media(max-width: 700px){
    .footer{
        .container{
            flex-wrap: wrap;
        }

        .footer__blocks--1{
            order: 3;
            .logo{
                margin-bottom: 8px;
            }
        }

        .footer__blocks--2{
            margin-top: 33px;
            order: 4;
            width: 125px;
            
            p:last-child{
                display: none;
            }

            .white{
                margin-bottom: 10px;
                width: 117px;
            }
            .time{
                margin-bottom: 10px;
            }
        }

        &__blocks--3{
            width: 125px;
            order: 2;
        }

        &__blocks--4{
            margin-bottom: 30px;
            width: 125px;

            display: block;
            order: 1;
        }
    }
}