.our-works{
    padding-top: 86px;
    padding-bottom: 112px;

    position: relative;

    h1{
        text-transform: uppercase;
    }

    &__row{
        margin-top: 20px;
        margin-bottom: 105px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        p{
            display: block;
            width: 282px;

            font-weight: 500;
            font-size: 14px;
            line-height: 1.6;

            color: #171715;
        }
    }

    .bel-svai{
        z-index: -1;
        
        position: absolute;
        top: 100px;
        right: 0;
    }

    &__card-list{
        display: flex;
        flex-wrap: wrap;

        column-gap: 25px;
        row-gap: 80px;
    }

    &__card{
        width: 570px;
        min-height: 420px;
        
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
        border-radius: 8px;
        &-text{ 
            margin: 20px;

            display: flex;
            justify-content: space-between;

            p{
                display: block;

                font-weight: 500;
                font-size: 12px;
                line-height: 1.4;
            }

            .data{
                display: block;

                font-weight: 500;
                font-size: 12px;
                line-height: 1.6;

                opacity: 0.3;
            }
        }
    }

}

@media(max-width: 899px){

    
    .our-works{
        padding-top: 60px;
        padding-bottom: 60px;

        h1{
            font-size: 24px;
        }

        &__row{
            margin-top: 0;
        }

        .bel-svai{
            width: 420px;
            top: 160px;
        }

        &__card{
            width: 330px;
            min-height: 275px;

            &-text{
                .data{
                    width: 67px;
                }
            }
        }

        &__card-list{
            column-gap: 10px;
        }
    }
}

@media(max-width: 360px){

    
    .our-works{
        padding-top: 40px;
        padding-bottom: 40px;

        h1{
            margin-bottom: 20px;
            display: block;
        }

        &__row{
            margin-bottom: 36px;

            .btn-yellow{
                display: none;
            }
        }

        .bel-svai{
            display: none;
        }

        &__card{
            &-text{
                .data{
                    width: 68px;
                }
            }
        }
        
        &__card-list{
            row-gap: 40px;
        }
    }
}