.slider{
    display: flex;
    position: relative;

    &__left{
        z-index: 1;
        position: absolute;
        top: 65px;
        left: 60px;
    }

    &__right{
        z-index: 1;
        position: absolute;
        top: 65px;
        right: 60px;
    }

    &__photo{
        margin-left: auto;
        margin-right: auto;

        display: flex;
    }

    &__item{
        z-index: 0;
    }
}