.start{
    padding-top: 80px;
    padding-bottom: 112px;

    z-index: 2;

    background-color: #fff;

    &__up-blocks{
        margin-bottom: 112px;

        display: flex;

        h1{
            text-transform: uppercase;
        }
    }

    &__photo{
        height: 130px;
        display: flex;
        margin-left: -310px;
    }

    &__work{
        width: 565px;
        margin-left: 26px;

        p{
            margin-top: 30px;
            width: 400px;
            display: block;

            font-weight: 500;
            font-size: 14px;
        }
    }

    &__down-blocks{
        display: flex;
        column-gap: 25px;
    }

    &__down-block{
        width: 390px;
        
        h2{
            margin-left: 10px;

            color: #FFD124;
        }
        
        p{
            padding-top: 5px;
            padding-left: 10px;
            margin-top: 10px;
            min-height: 88px;

            display: block;

            font-weight: 700;
            font-size: 14px;
            line-height: 1.6;

            border-left: 2px solid #FFD124;
        }


    }
}

@media(max-width: 899px){
    .start{
        padding-top: 60px;
        padding-bottom: 60px;

        &__photo{
            margin-left: -370px;
        }

        &__work{
            margin-left: 270px;

            h1{
                font-size: 34px;
            }

            p{
                font-size: 12px;
                line-height: 1.4;
            }
        }

        &__down-blocks{
            h2{
                font-size: 40px;
            }

            p{
                font-size: 12px;
                line-height: 1.4;
            }
        }
    }
}

@media(max-width: 700px){
    .start{
        padding-top: 4px;
        padding-bottom: 30px;
        overflow: hidden;

        &__work{
            margin-top: 10px;
            margin-left: 0;
            width: 300px;

            h1{
                width: 250px;
                display: block;

                font-size: 20px;
                line-height: 24px;
            }

            p{
                margin-top: 20px;
                width: 320px;

                font-size: 14px;
                line-height: 1.6;
            }
        }

        &__up-blocks{
            margin-bottom: 70px;
            display: block;
        }

        &__photo{
            margin-left: -55px;

            img{
                height: 90px;
            }
        }

        &__down-blocks{
            display: block;
        }

        &__down-block{
            width: 280px;

            h2{
                margin-left: 245px;
                margin-bottom: -20px;
            }
            p{
                font-size: 14px;
            }
        }

        &__down-block:not(:first-child){
            margin-top: 10px;
        }
    }
}